<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jusfoun.mapper.ds1.TAreaMapper">
	<resultMap id="BaseResultMap" type="com.jusfoun.entity.TArea">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="area_name" jdbcType="VARCHAR" property="areaName" />
		<result column="parent_id" jdbcType="INTEGER" property="parentId" />
		<result column="short_name" jdbcType="VARCHAR" property="shortName" />
		<result column="lng" jdbcType="VARCHAR" property="lng" />
		<result column="lat" jdbcType="VARCHAR" property="lat" />
		<result column="level" jdbcType="TINYINT" property="level" />
		<result column="position" jdbcType="VARCHAR" property="position" />
		<result column="sort" jdbcType="TINYINT" property="sort" />
		<result column="flag" jdbcType="VARCHAR" property="flag" />
	</resultMap>

	<resultMap id="BaseTreeResultMap" type="com.jusfoun.entity.TArea" extends="BaseResultMap">
		<association property="subList" column="id" fetchType="eager" select="selectByParentId" />
	</resultMap>

	<sql id="Base_Table_Name">
		t_area
	</sql>
	<sql id="Base_Column_List">
		*
	</sql>

	<sql id="Base_Where_Clause">
		<where>
			<if test="id        != null "><![CDATA[and id = #{id ,jdbcType=BIGINT }]]></if>
			<if test="areaName  != null and areaName  != ''"><![CDATA[and area_name like CONCAT('%',#{areaName ,jdbcType=VARCHAR},'%')]]></if>
			<if test="shortName != null and shortName != ''"><![CDATA[and short_name like CONCAT('%',#{shortName ,jdbcType=VARCHAR},'%')]]></if>
			<if test="parentId  != null "><![CDATA[and parent_id = #{parentId ,jdbcType=BIGINT }]]></if>
			<if test="level     != null "><![CDATA[and level = #{level ,jdbcType=TINYINT }]]></if>
			<if test="sort      != null "><![CDATA[and sort = #{level ,jdbcType=TINYINT }]]></if>
			<if test="flag      != null and flag      != ''"><![CDATA[and flag = #{flag ,jdbcType=VARCHAR }]]></if>
		</where>
	</sql>
	<sql id="Base_Select_Sql">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table_Name" />
		<include refid="Base_Where_Clause" />
	</sql>
	<select id="selectCountWithAssociate" parameterType="Map" resultType="Integer">
		select count(*) from
		<include refid="Base_Table_Name" />
		<if test="_parameter != null">
			<include refid="Base_Where_Clause" />
		</if>
	</select>
	<select id="selectOneWithAssociate" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table_Name" />
		<include refid="Base_Where_Clause" />
	</select>
	<select id="selectListWithAssociate" parameterType="Map" resultMap="BaseResultMap">
		<include refid="Base_Select_Sql" />
	</select>

	<select id="selectByParentId" parameterType="Long" resultMap="BaseTreeResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table_Name" />
		<where>
			parent_id = #{_parameter,jdbcType=BIGINT}
		</where>
	</select>

	<select id="selectTree" parameterType="Long" resultMap="BaseTreeResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table_Name" />
		<where>
			id = #{_parameter,jdbcType=BIGINT}
		</where>
	</select>
</mapper>