<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
    ">
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
		p:maxIdle="${redis.pool.maxIdle}" p:maxTotal="${redis.pool.maxActive}"
		p:maxWaitMillis="${redis.pool.maxWait}" p:testOnBorrow="${redis.pool.testOnBorrow}" />
	<!-- jedis客户端连接工厂 -->
	<bean id="jedisConnectionFactory" name="jeidsConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="${redis.host}" p:port="${redis.port}" p:poolConfig-ref="jedisPoolConfig" />
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connection-factory-ref="jeidsConnectionFactory">
		<!-- <property name="keySerializer"> <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" 
			/> </property> <property name="hashKeySerializer"> <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" 
			/> </property> <property name="valueSerializer"> <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" 
			/> </property> <property name="hashValueSerializer"> <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" 
			/> </property> -->
	</bean>
	<!-- 设置缓存key生成策略 -->
	<bean id="keyGenerator" class="com.shanke.dubbo.comm.cache.CustomKeyGenerator" />
	<!-- redis缓存管理器 -->
	<!-- <bean id="redisCacheManager" class="org.springframework.data.redis.cache.RedisCacheManager" 
		c:template-ref="redisTemplate" /> <cache:annotation-driven cache-manager="redisCacheManager" 
		key-generator="keyGenerator" /> -->

	<cache:annotation-driven cache-manager="redisCacheManager"
		key-generator="keyGenerator" mode="proxy" proxy-target-class="false" />
	<bean name="redisCacheManager" class="com.shanke.dubbo.comm.cache.CustomRedisCacheManager">
		<constructor-arg name="redisOperations" ref="redisTemplate" />
		<constructor-arg name="cacheNames">
			<set>
				<value>cacahe_default</value>
				<value>cacahe_test</value>
			</set>
		</constructor-arg>
		<!-- 默认缓存名字 -->
		<property name="defaultCacheName" value="cacahe_default" />
		<!-- 是否在容器启动时初始化 -->
		<property name="loadRemoteCachesOnStartup" value="true" />
		<!-- 是否使用前缀 -->
		<property name="usePrefix" value="true" />
		<!-- 前缀命名，仅当usePrefix为true时才生效 -->
		<property name="cachePrefix">
			<bean class="org.springframework.data.redis.cache.DefaultRedisCachePrefix">
				<constructor-arg name="delimiter" value=":" />
			</bean>
		</property>
		<!-- 缓存名字和有效期的分隔符 -->
		<property name="separator" value="#" />
		<!-- 默认有效期1h -->
		<property name="defaultExpiration" value="3600" />
		<!-- 多个缓存有效期，一般的单个工程可以省略此项 -->
		<property name="expires">
			<map>
				<entry key="cacahe_default" value="1800" />
				<entry key="cacahe_test" value="1800" />
			</map>
		</property>
	</bean>

	<!-- session共享配置 -->
	<bean
		class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"
		p:maxInactiveIntervalInSeconds="1800" />
</beans>