<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jusfoun.mapper.ds0.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.jusfoun.entity.SysUser">
		<!-- WARNING - @mbg.generated -->
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="gov_id" property="govId" jdbcType="BIGINT" />
		<result column="gender" property="gender" jdbcType="INTEGER" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="is_admin" property="isAdmin" jdbcType="BIT" />

		<result column="status" jdbcType="BIT" property="status" />
		<result column="creator_id" jdbcType="BIGINT" property="creatorId" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
		<result column="updater_id" jdbcType="BIGINT" property="updaterId" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="updater_name" jdbcType="VARCHAR" property="updaterName" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<association property="govName" column="gov_id" fetchType="lazy"
			select="com.jusfoun.mapper.ds0.SysGovMapper.selectNameByPrimaryKey" />
	</resultMap>

	<resultMap id="BaseListResultMap" extends="BaseResultMap" type="com.jusfoun.entity.SysUser">
		<association property="roleNames" column="id" fetchType="lazy"
			select="com.jusfoun.mapper.ds0.SysRoleMapper.selectNamesByUserId" />
	</resultMap>

	<resultMap id="BaseInfoResultMap" extends="BaseResultMap" type="com.jusfoun.entity.SysUser">
		<association property="sysRoles" column="ID" fetchType="lazy"
			select="com.jusfoun.mapper.ds0.SysRoleMapper.selectByUserId" />
	</resultMap>


	<sql id="Base_Table_Name">
		sys_user
	</sql>
	<sql id="Base_Column_List">
		*
	</sql>
	<sql id="Base_List_Column_List">
	<![CDATA[id,username, real_name, gov_id, gender, tel, mobile, email, status, address, is_admin]]>
	</sql>
	<sql id="Base_Info_Column_List">
	<![CDATA[id,username, real_name, password, gov_id, gender, tel, mobile, email, remark, status, address, is_admin]]>
	</sql>
	<sql id="Base_Where_Clause">
		<where>
			<if test="id        != null "><![CDATA[and id = #{id ,jdbcType=BIGINT }]]></if>
			<if test="username  != null and username  != ''"><![CDATA[and username like CONCAT('%',#{username ,jdbcType=VARCHAR},'%')]]></if>
			<if test="password  != null and password  != ''"><![CDATA[and password = #{password ,jdbcType=VARCHAR }]]></if>
			<if test="govId     != null "><![CDATA[and gov_id = #{govId ,jdbcType=BIGINT } ]]></if>
			<if test="gender    != null "><![CDATA[and gender = #{gender ,jdbcType=INTEGER } ]]></if>
			<if test="tel       != null and tel       != ''"><![CDATA[and tel = #{tel ,jdbcType=VARCHAR }]]></if>
			<if test="mobile    != null and mobile    != ''"><![CDATA[and mobile = #{mobile ,jdbcType=VARCHAR }]]></if>
			<if test="email     != null and email     != ''"><![CDATA[and email = #{email ,jdbcType=VARCHAR }]]></if>
			<if test="realName  != null and realName  != ''"><![CDATA[and real_name = #{realName ,jdbcType=VARCHAR }]]></if>
			<if test="status    != null"><![CDATA[and status = #{status ,jdbcType=BIT}]]></if>
			<if test="remark    != null and remark     != ''"><![CDATA[and remark like CONCAT('%',#{remark ,jdbcType=VARCHAR},'%') ]]></if>
		</where>
	</sql>
	<sql id="Base_Select_Sql">
		select
		<include refid="Base_List_Column_List" />
		from
		<include refid="Base_Table_Name" />
		<include refid="Base_Where_Clause" />
	</sql>
	<select id="selectCountWithAssociate" parameterType="Map" resultType="Integer">
		select count(*) from
		<include refid="Base_Table_Name" />
		<if test="_parameter != null">
			<include refid="Base_Where_Clause" />
		</if>
	</select>
	<select id="selectOneWithAssociate" parameterType="Map" resultMap="BaseInfoResultMap">
		select
		<include refid="Base_Info_Column_List" />
		from
		<include refid="Base_Table_Name" />
		<include refid="Base_Where_Clause" />
	</select>
	<select id="selectListWithAssociate" parameterType="Map" resultMap="BaseListResultMap">
		<include refid="Base_Select_Sql" />
	</select>
	<select id="selectByUsername" parameterType="String" resultMap="BaseInfoResultMap">
		select
		<include refid="Base_Info_Column_List" />
		from
		<include refid="Base_Table_Name" />
		where username = #{_parameter,jdbcType=VARCHAR}
	</select>
</mapper>