<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd"
	default-lazy-init="true">

	<bean id="job"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"
		p:targetClass="com.shanke.web.quartz.MyQuartz" p:targetMethod="excute" />

	<!-- 定义触发的时间 -->
	<bean id="cron"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
		p:jobDetail-ref="job" p:cronExpression="0 0 1 * * ?" />

	<!-- 管理触发器 -->
	<bean autowire="no" lazy-init="false"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cron" />
			</list>
		</property>
	</bean>
</beans>